<a href="https://colab.research.google.com/github/XeniaMontiell/Belajar-Pythoon-Dasar/blob/main/Percobaan_Cabang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Roti_Coklat = 5000
Roti_Keju = 5000
Roti_Pisang_Keju = 10000

print("===============")
print("    Toko Roti    ")
print("===============")

beli = Roti_Coklat * 2 + Roti_Keju * 3 + Roti_Pisang_Keju * 4

if beli >= 50000:
   diskon = 0.1 * beli
else:
   diskon = 0.0

harga = beli - diskon
print("Total Yang Harus Dibayarkan = Rp", harga)

===============
    Toko Roti
===============
Total Yang Harus Dibayarkan = Rp 58500.0

In [ ]:
Roti_Coklat = 5000
Roti_Keju = 5000
Roti_Pisang_Coklat = 10000

print("===============")
print("   Toko Roti    ")
print("===============")

coklat = int(input("Masukkan jumlah Roti Coklat: "))
keju = int(input("Masukkan jumlah Roti Keju: "))
pisang_keju = int(input("Masukkan jumlah Roti Pisang Coklat: "))

beli = (Roti_Coklat * coklat) + (Roti_Keju * keju) + (Roti_Pisang_Keju * pisang_keju)

if beli > 50000:
    diskon = beli * 0.1
else :
    diskon = 0.0
bayar= beli-diskon
print ("Total Yang Harus Dibayarkan= Rp ", bayar )

===============
   Toko Roti
===============
Masukkan jumlah Roti Coklat: 3
Masukkan jumlah Roti Keju: 4
Masukkan jumlah Roti Pisang Coklat: 5
Total Yang Harus Dibayarkan= Rp  76500.0

In [ ]:
# Menentukan Bilangan Positif, Negatif, Atau Nol

bilangan = float(input("Masukkan Bilangan: "))
if bilangan > 0:
   print("Bilangan Positif")
elif bilangan == 0:
   print("Nol")
else:
   print("Bilangan Negatif")

Masukkan Bilangan: 0
Nol

In [ ]:
# Menentukan Bilangan Ganjil atau Genap

bilangan = int(input("Masukkan Bilangan: "))
if bilangan % 2 == 0:
   print("{0} adalah bilangan genap".format(bilangan))
else:
   print("{0} adalah bilangan ganjil".format(bilangan))

Masukkan Bilangan: 60
60 adalah bilangan genap

In [ ]:
# Menentukan Klasifikasi Usia

Balita = ("0 >= 5")
Anak_Anak = ("6 >= 11")
Remaja = ("12 >= 24")
Dewasa = ("25 >= 50")
Lansia = ("65")

usia = int(input("Masukkan Usia: "))

if 1 <= usia <= 5:
   print("Anda Termasuk Balita")
elif 6 <= usia <=11:
    print("Anda Termasuk Anak_Anak")
elif 12 <= usia <= 24:
    print("Anda Termasuk Remaja")
elif 25 <= usia <= 50:
    print("Anda Termasuk Dewasa")
else :
    print("Anda Termasuk Lansia")

Masukkan Usia: 70
Anda Termasuk Lansia

In [ ]:
# Menentukan Nilai Ujian

Grade_A= ("90 >= 100")
Grade_B = ("80 >= 89")
Grade_C = ("70 >= 79")
Grade_D = ("60 >= 69")
Grade_e = ("<= 60")

nilai = int(input("Masukkan Nilai Anda: "))

if 90 <= nilai <= 100:
   print("Nilai Anda Termasuk Grade A")
elif 80 <= nilai <= 89:
    print("Nilai Anda Termasuk Grade B")
elif 80 <= nilai <= 79:
    print("Nilai Anda Termasuk Grade C")
elif 60 <= nilai <= 69:
    print("Nilai Anda Termasuk Grade_D")
else :
    print("Nilai Anda Termasuk Grade E")

Masukkan Nilai Anda: 90
Nilai Anda Termasuk Grade A

In [ ]:
# Menentukan Zodiak

Aries = ("21 Maret <= 19 April")
Taurus = ("20 April <= 20 Mei")
Gemini = ("21 Mei <= 20 Juni")
Cancer = ("21 Juni <= 22 Juli")
Leo = ("23 Juli <= 22 Agustus")
Virgo = ("23 Agustus <= 22 September")
Libra = ("23 September <= 22 Oktober")
Scorpio = ("23 Oktober <= 21 November")
Sagitarius = ("22 November <= 21 Desember")
Capricorn = ("22 Desember <= 20 Januari")
Aquarius = ("21 Januari <= 18 Februari")
Pisces = ("19 Februari <= 20 Maret")

tanggal = int(input("Masukkan Tanggal Lahir Anda: "))
bulan = input("Masukkan Bulan Lahir Anda: ").lower()

if (bulan == "maret" and tanggal >= 21) or (bulan == "april" and tanggal <= 19):
    zodiak = "Aries"
elif (bulan == "april" and tanggal >= 20) or (bulan == "mei" and tanggal <= 20):
    zodiak = "Taurus"
elif (bulan == "mei" and tanggal >= 21) or (bulan == "juni" and tanggal <= 20):
    zodiak = "Gemini"
elif (bulan == "juni" and tanggal >= 21) or (bulan == "juli" and tanggal <= 22):
    zodiak = "Cancer"
elif (bulan == "juli" and tanggal >= 23) or (bulan == "agustus" and tanggal <= 22):
    zodiak = "Leo"
elif (bulan == "agustus" and tanggal >= 23) or (bulan == "september" and tanggal <= 22):
    zodiak = "Virgo"
elif (bulan == "september" and tanggal >= 23) or (bulan == "oktober" and tanggal <= 22):
    zodiak = "Libra"
elif (bulan == "oktober" and tanggal >= 23) or (bulan == "november" and tanggal <= 21):
    zodiak = "Scorpio"
elif (bulan == "november" and tanggal >= 22) or (bulan == "desember" and tanggal <= 21):
    zodiak = "Sagitarius"
elif (bulan == "desember" and tanggal >= 22) or (bulan == "januari" and tanggal <= 19):
    zodiak = "Capricorn"
elif (bulan == "januari" and tanggal >= 20) or (bulan == "februari" and tanggal <= 18):
    zodiak = "Aquarius"
elif (bulan == "februari" and tanggal >= 19) or (bulan == "maret" and tanggal <= 20):
    zodiak = "Pisces"
else:
    zodiak = "Tanggal atau bulan tidak valid"

print("Zodiak Anda Adalah =", zodiak)

Masukkan Tanggal Lahir Anda: 14
Masukkan Bulan Lahir Anda: JANUARI
Zodiak Anda Adalah = Capricorn